.block {
    background-color: aquamarine;
    position: absolute;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    border-radius: 5px;
}

.block:hover {
    background-color: rgb(59, 172, 135);
}

.block.selected {
    background-color: red;
}

html {
    height: 100%;
}

body {
    height: 100%;
}